<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @users %>
  <%# Removes unpopulated table from lookup %>
  <% if @users.size > 0 %>
    <div id="friend-lookup-results" class="well results-block">
      <table class="table table-borderless col-md-12">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= link_to "View Portfolio", user_path(user), class: "btn btn-xs btn-info" %></td>
              <td>
                <div id="right-justify">
                  <% if current_user.not_friends_with?(user.id) %>
                    <%= link_to "Follow", add_friend_path(user: current_user, friend: user),
                                        class: "btn btn-xs btn-primary", method: :post %>
                  <% else %>
                    <span class="label label-success">
                      Following
                    </span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
