<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<%# TODO make more charts, make news feed clickable option, and speed up search %>

<% if @stock %>
  <div class="well results-block">
    <div id="right-justify">
      <% if current_user.can_add_stock?(@stock.ticker) %>
          <%= link_to "Follow #{@stock.name}", user_stocks_path(user: current_user, stock_ticker: @stock.ticker),
                                                class: "btn btn-xs btn-primary", method: :post %>
      <% else %>
        <span class="label label-success">
          <% if !current_user.under_stock_limit? %>
            Your portfolio is full
          <% elsif current_user.stock_already_added?(@stock.ticker) %>
            You are already following <%= @stock.name %>
          <% end %>
        </span>
      <% end %>
    </div>
    <strong>Name: </strong><%= @stock.name %><br>
    <strong>Latest Price: </strong>$<%= number_with_precision(@stock.last_price, :precision => 2, :delimiter => ',') %>
    <br><br>
    <% # TODO fix max and min in chart %>
    <%# Uses Charkick to display an chart of stock prices for the most recent day %>
    <%= area_chart @decimal_data, prefix: "$", discrete: true, xtitle: "Eastern Standard Time",
                    points: false, thousands: ",", min: @filtered_prices.min-1, max: @filtered_prices.max+1 %>
    <br>
    <%# news feed %>
    <% @articles.each do |article| %>
      <div class="well card">
        <h3 class="card-header"><%= article[0] %></h3>
        <div class="card-body">
          <p class="card-text"><%= truncate(article[1], length: 300) %></p>
          <%= link_to "Go to article", article[2], class: "btn btn-primary", target: "_blank" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
