<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @stock %>
  <div class="results-block">
    <div class="right-justify">
      <% if current_user.can_add_stock?(@stock.ticker) %>
          <%= link_to "Follow #{@stock.name}", user_stocks_path(user: current_user, stock_ticker: @stock.ticker),
                                                class: "btn btn-xs btn-primary", method: :post %>
      <% else %>
        <span class="label label-success">
          <% if !current_user.under_stock_limit? %>
            Your portfolio is full
          <% elsif current_user.stock_already_added?(@stock.ticker) %>
            You are already following <%= @stock.name %>
          <% end %>
        </span>
      <% end %>
    </div>
    <h2 id="stock-result-name"><%= @stock.name %></h2>
    <h2 id="stock-result-price">$<%= number_with_precision(@stock.last_price, :precision => 2, :delimiter => ',') %></h2>

    <% if @decimal_data != [] %>
      <%# Uses Charkick to display an chart of stock prices for the most recent day %>
      <%= area_chart @decimal_data, min: @filtered_prices.min-1, max: @filtered_prices.max+1,
                    download: {filename: "#{@stock.ticker}_#{Date.today}", background: "#ffffff"} %>
    <% else %>
      <p class="center-text light-text">No chart data</p>
    <% end %>
    <br>

    <%# news feed %>
    <% if @articles != [] %>
      <% @articles.each do |article| %>
        <a class="card" <%= link_to article[2], target: "_blank" do %>
          <h3 class="card-header"><%= article[0] %></h3>
          <div class="card-body">
            <p class="card-text"><%= truncate(article[1], length: 500) %></p>
          </div>
        <% end %>
        </a>
        <br><br><br>
      <% end %>
      <% else %>
        <p class="center-text light-text">No news</p>
    <% end %>
  </div>
<% end %>
