<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @stock %>
  <div class="well results-block">
    <div id="follow">
      <% if current_user.can_add_stock?(@stock.ticker) %>
          <%= link_to "Follow #{@stock.name}", user_stocks_path(user: current_user, stock_ticker: @stock.ticker),
                                                class: "btn btn-xs btn-primary", method: :post %>
      <% else %>
        <span class="label label-success">
          <% if !current_user.under_stock_limit? %>
            Your portfolio is full
          <% elsif current_user.stock_already_added?(@stock.ticker) %>
            You are already following <%= "#{@stock.name}" %>
          <% end %>
        </span>
      <% end %>
    </div>
    <strong>Name: </strong><%= @stock.name %><br>
    <strong>Latest Price: </strong>$<%= number_with_precision(@stock.last_price, :precision => 2, :delimiter => ',') %>
    <br><br>
    <%# Uses Charkick to display an chart of stock prices for the most recent day %>
    <%= area_chart @decimal_data, prefix: "$", discrete: true, xtitle: "Eastern Standard Time",
                    points: false, thousands: ",", min: @stock.low.to_i-1, max: @stock.high.to_i+1 %>
  </div>
<% end %>
