<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @stock %>
  <div class="well results-block">
    <div id="follow">
      <%= link_to "Follow #{@stock.ticker}", user_stocks_path(user: current_user, stock_ticker: @stock.ticker),
                                            class: "btn btn-xs btn-primary", method: :post %>
    </div>
    <strong>Name: </strong><%= @stock.name %><br>
    <strong>Latest Price: </strong>$<%= number_with_precision(@stock.last_price, :precision => 2, :delimiter => ',') %>
    <br><br>
    <%# Uses Charkick to display an chart of stock prices for the most recent day %>
    <%= area_chart @filtered_data, prefix: "$", discrete: true, xtitle: "Eastern Standard Time",
                    points: false, thousands: ",", min: @stock.low.to_i-1, max: @stock.high.to_i+1 %>
  </div>
<% end %>
