<h1>Search friends</h1>
<div class="row">
<%= render "friends/lookup" %>
<div class="col-md-4">
  <% if @friendships.size > 0 %>
    <div class="well">
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <body>
          <% @friendships.each do |friend| %>
            <tr>
              <td><%= friend.full_name %></td>
              <td><%= friend.email %></td>
              <td>
                <%= link_to "View Portfolio", user_path(friend), class: "btn btn-xs btn-info" %>
                <%= link_to "Unfollow", friendship_path(friend),
                              method: :delete,
                              data: {confirm: "Are you sure?"},
                              class: "btn btn-xs btn-danger" %>
              </td>
            </tr>
          <% end %>
        </body>
      </table>
    </div>
  <% else %>
    <div class="row col-lg-12">
      <p class="right-justify" class="lead">Search for people to follow.</p>
    </div>
  <% end %>
</div>
