<h1>My Portfolio</h1>
  <div class="row">
    <div class="col-md-8">
      <div id="stock-lookup">
        <%# remote: true submits the form through AJAX instead of sending an HTTP request %>
        <%= form_tag search_stocks_path, remote: true, method: :get, id: "stock-lookup-form" do %>
          <div class="form-group row no-padding text-center col-sm-12">
            <div class="col-md-10">
              <%= text_field_tag :stock, params[:stock], placeholder: "Ticker symbol", autofocus: true,
                                    class: "form-control search-box input-lg" %>
            </div>
            <div class="col-md-2">
              <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div id="results">
        <%= render 'result' %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'stocks/list' %>
    </div>
  </div>
