<h1><%= @user.full_name %>'s Portfolio</h1>
<h4> <%= @user.email %></h4>
<br>

<% if @user.stocks.size > 0 %>
  <div class="well">
    <%= render 'stocks/list' %>
  </div>
<% else %>
  <p class="lead"><%= @user.first_name %> is not following any stocks.</p>
<% end %>

<%= link_to "Back", my_friends_path, class: "btn btn-primary" %>
