<div class="row">
  <div class="col-md-2 sticky">
    <ul class="nav flex-column" id="myTab" role="tablist">
      <% @stocks.each do |stripped_ticker, ticker| %>
        <li class="nav-item">
          <a class="nav-link" id="<%= stripped_ticker %>-tab" data-toggle="tab" href="#<%= stripped_ticker %>" role="tab"
             aria-controls="home" aria-selected="false"><%= ticker %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="tab-content" id="myTabContent">
      <% @stocks.each do |stripped_ticker, ticker| %>
        <div class="tab-pane fade" id="<%= stripped_ticker %>" role="tabpanel" aria-labelledby="<%= stripped_ticker %>-tab">
          <% create_articles(ticker).each do |article| %>
              <a class="card" <%= link_to article[2], target: "_blank" do %>
                <h1 class="card-header"><%= article[0] %></h1>
                <div class="card-body">
                  <p class="card-text"><%= truncate(article[1], length: 800) %></p>
                </div>
              <% end %>
              </a>
              <br><br><br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#myTab li:first-child a').tab('show')
  })
</script>
